---
import Button from '@/components/Button.astro'
import Collapse from '@/components/Collapse.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import PageLayout from '@/layouts/CommonPage.astro'
import { Image } from 'astro:assets'


const headings = [

  {
    depth: 2,
    slug: 'programs',
    text: 'Programs'
  },
  {
    depth: 2,
    slug: 'gitbooks',
    text: 'Gitbooks'
  },
  {
    depth: 2,
    slug: 'learnings',
    text: 'Labs repos'
  },
  {
    depth: 2,
    slug: 'Scientific Projects',
    text: 'Scientific Projects'
  },

]
---

<PageLayout title='Projects' headings={headings} info={{ slug: '/projects', hideComment: true }}>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/Aki-yzh'
      alt='github activities'
      inferSize
      loading='eager'
      decoding='async'
    />
  </p>




  <h2 id='programs'>Programs</h2>
  <ProjectSection
      class = 'my-2'
      project={[
      {
        name: '🖼 Mosaic-image',
        description: 'Milligram imaging/Generating Mosaic pictures , using Matlab',
        links: [
          { type: 'github', href: 'https://github.com/Aki-yzh/Mosaic-image'},
        ]
      }
      
    ]}
    project={[
      {
        name: '📝 aki-desk',
        description: 'Desktop to-do and other plugins based on Vue and Electron',
        links: [
          { type: 'github', href: 'https://github.com/Aki-yzh/aki-desk'},
        ]
      }
      
    ]}
  />

  <Collapse title='Some old projects'>
    <ProjectSection
      project={[
        {
          name: '📱 Tetris',
          description: 'Easy Realization for Tetris ,using QT',
          links: [{ type: 'github', href: 'https://github.com/Aki-yzh/Tetris' }]
        }
       
      ]}
    />
  </Collapse>
<h2 id ='gitbooks'>Gitbooks<h2>
          <a href="https://koi.aki-yzh.cn" target="_blank" class="no-underline">
            <div class="group relative h-full overflow-hidden rounded-2xl border border-border bg-background px-4 py-2 transition-colors hover:bg-primary-foreground sm:py-3">
                <div class="relative z-10 flex h-full items-center gap-3">
                    <div class="relative h-16 w-16 min-w-16 overflow-hidden rounded-full">
                        <img src="https://koi.aki-yzh.cn/~gitbook/image?url=https%3A%2F%2F543430613-files.gitbook.io%2F%7E%2Ffiles%2Fv0%2Fb%2Fgitbook-x-prod.appspot.com%2Fo%2Fspaces%252F3bWtvCpvztbO7sfuA4pu%252Fuploads%252FwWDPUVxmVJSg7d7UXa31%252Fimage.png%3Falt%3Dmedia%26token%3Dd3e3b1b7-42ea-4d1d-8a57-3af4f74634b6&width=768&dpr=4&quality=100&sign=8b1dcdc8&sv=2" class="my-0 bg-white" alt="avatar" loading="lazy" width="80" height="80" decoding="async">
                        <div class="absolute start-0 top-0 h-full w-full">
                            <div class="flex h-full w-full items-center justify-center rounded-full bg-foreground opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-50">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="me-2 stroke-background">
                                    <line x1="5" y1="12" x2="19" y2="12" class="translate-x-4 scale-x-0 transition-all duration-300 ease-in-out group-hover:translate-x-1 group-hover:scale-x-100"></line>
                                    <polyline points="12 5 19 12 12 19" class="translate-x-0 transition-all duration-300 ease-in-out group-hover:translate-x-1"></polyline>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col gap-y-2">
                        <p class="my-0 line-clamp-1 text-sm">恋爱多是利己之物</p>
                        <p class="my-0 line-clamp-1 text-xs text-muted-foreground sm:line-clamp-2"></p>
                    </div>
                </div>
                <img src="https://koi.aki-yzh.cn/~gitbook/image?url=https%3A%2F%2F543430613-files.gitbook.io%2F%7E%2Ffiles%2Fv0%2Fb%2Fgitbook-x-prod.appspot.com%2Fo%2Fspaces%252F3bWtvCpvztbO7sfuA4pu%252Fuploads%252FwWDPUVxmVJSg7d7UXa31%252Fimage.png%3Falt%3Dmedia%26token%3Dd3e3b1b7-42ea-4d1d-8a57-3af4f74634b6&width=768&dpr=4&quality=100&sign=8b1dcdc8&sv=2" class="absolute -start-2 top-0 z-0 my-0 h-full w-2/3 bg-white object-cover opacity-15" alt="avatar bg" loading="lazy" style="mask-image:linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);ms-mask-image:-ms-linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);-webkit-mask-image:-webkit-linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%)" width="80" height="80" decoding="async">
            </div>
        </a>


  <h2 id='learnings'>Labs repos</h2>
  <ProjectSection
    class='my-2'
    project={[
      {
        name: 'ICS',
        description: 'Introduction to Computer System',
        links: [{ type: 'github', href: 'https://github.com/Aki-yzh/PKU-ICS-2022'}]
      },
      {
        name: 'Computer Network',
        description: 'MYFTP,ROUTER AND SWITCH',
        links: [
          {
            type: 'github',
            href: 'https://github.com/Aki-yzh/PKU-Computer-Network-2023'
          }
        ]
      },
      {
        name: 'Software Analysis',
        description: 'PTA and SyGuS',
        links: [
          {
            type: 'github',
            href: 'https://github.com/Aki-yzh/pku-pta'
          }
        ]
      },
      {
        name: 'Operating System',
        description: 'lab based on xv6-k210',
        links: [
          {
            type: 'github',
            href: 'https://github.com/Aki-yzh/PKU-OS-2024'
          }
        ]
      },
      {
        name: 'Compiler',
        description: 'SYsy to koopaIR and riscv',
        links: [
          {
            type: 'github',
            href: 'https://github.com/Aki-yzh/PKU-CP-2024'
          }
        ]
      }
    ]}
  />
 <h2 id='Scientific Projects'>Scientific Projects</h2>
<p> when papers are pulished,I will show the demo photos(the code is not open source)<p>