html {
  font-family: 'Satoshi', sans-serif;
}

html.dark {
  color-scheme: dark;
}

.animate {
  animation: enter-page 0.3s ease-out both;
}

@keyframes enter-page {
  from {
    opacity: 0.85;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  .animate {
    animation: none;
  }
}

/* Scroll bar */
:root {
  --scrollbar-width: 6px;
  --scrollbar-bg: #e0e0e0;
  --scrollbar-thumb-bg: #c0c0c0;
}
html.dark {
  --scrollbar-bg: #2e2e2e;
  --scrollbar-thumb-bg: #4e4e4e;
}
body::-webkit-scrollbar {
  height: 0;
}
::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
  background: #0000;
}
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-bg);
  border-radius: 999px;
  border: 2px solid var(--scrollbar-thumb-bg);
  opacity: 0.5;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
